[submodule "pugixml"]
	path = pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "skyelib"]
	path = skyelib
	url = git@codeberg.org:biribiri/skyelib.git
[submodule "mpv"]
	path = mpv
	url = https://github.com/mpv-player/mpv.git
